@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Great+Vibes&display=swap');
@import "tailwindcss";

@theme {
  --color-gold: #9D7E6C;
  --color-dark: #344450;
  --color-page: #F9F9F9;
  --color-table-row: #FFFFFF;
  --color-text-main: #1a1c1c;
  --color-text-muted: #43474b;

  --font-serif: "Libre Caslon Text", serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-signature: "Great Vibes", cursive;
}

body {
  background-color: #f0f1f1; /* Surrounding background */
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  font-family: var(--font-sans);
}

/* Custom dashed border for the stamp */
.stamp-circle {
  stroke-dasharray: 4 4;
}
